<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.company.project.dao.BankMapper">
  <resultMap id="BaseResultMap" type="com.company.project.model.Bank">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="id" jdbcType="INTEGER" property="id" />
    <result column="bank" jdbcType="INTEGER" property="bank" />
    <result column="money1" jdbcType="DECIMAL" property="money1" />
    <result column="money2" jdbcType="DECIMAL" property="money2" />
    <result column="sort" jdbcType="INTEGER" property="sort" />
    <result column="intro" jdbcType="NVARCHAR" property="intro" />
    <result column="gl" jdbcType="INTEGER" property="gl" />
    <result column="gl2" jdbcType="INTEGER" property="gl2" />
    <result column="cateid" jdbcType="INTEGER" property="cateid" />
    <result column="date1" jdbcType="TIMESTAMP" property="date1" />
    <result column="date7" jdbcType="TIMESTAMP" property="date7" />
    <result column="del" jdbcType="INTEGER" property="del" />
  </resultMap>
</mapper>