<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.company.project.dao.GateMapper">
  <resultMap id="BaseResultMap" type="com.company.project.model.Gate">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ord" jdbcType="INTEGER" property="ord" />
    <result column="username" jdbcType="NVARCHAR" property="username" />
    <result column="pw" jdbcType="NVARCHAR" property="pw" />
    <result column="name" jdbcType="NVARCHAR" property="name" />
    <result column="title" jdbcType="NVARCHAR" property="title" />
    <result column="cateid" jdbcType="INTEGER" property="cateid" />
    <result column="sorce" jdbcType="INTEGER" property="sorce" />
    <result column="sorce2" jdbcType="INTEGER" property="sorce2" />
    <result column="see1" jdbcType="NVARCHAR" property="see1" />
    <result column="cor" jdbcType="NVARCHAR" property="cor" />
    <result column="del1" jdbcType="NVARCHAR" property="del1" />
    <result column="share" jdbcType="NVARCHAR" property="share" />
    <result column="order1" jdbcType="NVARCHAR" property="order1" />
    <result column="agree1" jdbcType="NVARCHAR" property="agree1" />
    <result column="top1" jdbcType="NVARCHAR" property="top1" />
    <result column="con1" jdbcType="NVARCHAR" property="con1" />
    <result column="hk1" jdbcType="NVARCHAR" property="hk1" />
    <result column="pro1" jdbcType="NVARCHAR" property="pro1" />
    <result column="sh1" jdbcType="NVARCHAR" property="sh1" />
    <result column="cg1" jdbcType="NVARCHAR" property="cg1" />
    <result column="rk1" jdbcType="NVARCHAR" property="rk1" />
    <result column="ck1" jdbcType="NVARCHAR" property="ck1" />
    <result column="fh1" jdbcType="NVARCHAR" property="fh1" />
    <result column="dy1" jdbcType="NVARCHAR" property="dy1" />
    <result column="dc1" jdbcType="NVARCHAR" property="dc1" />
    <result column="del" jdbcType="INTEGER" property="del" />
    <result column="numy" jdbcType="DECIMAL" property="numy" />
    <result column="numm" jdbcType="DECIMAL" property="numm" />
    <result column="ygid" jdbcType="NVARCHAR" property="ygid" />
    <result column="cardid" jdbcType="NVARCHAR" property="cardid" />
    <result column="sex" jdbcType="NVARCHAR" property="sex" />
    <result column="jg" jdbcType="NVARCHAR" property="jg" />
    <result column="mz" jdbcType="NVARCHAR" property="mz" />
    <result column="date1" jdbcType="TIMESTAMP" property="date1" />
    <result column="date2" jdbcType="TIMESTAMP" property="date2" />
    <result column="date3" jdbcType="TIMESTAMP" property="date3" />
    <result column="xl" jdbcType="NVARCHAR" property="xl" />
    <result column="zy" jdbcType="NVARCHAR" property="zy" />
    <result column="xx" jdbcType="NVARCHAR" property="xx" />
    <result column="phone1" jdbcType="NVARCHAR" property="phone1" />
    <result column="phone2" jdbcType="NVARCHAR" property="phone2" />
    <result column="mobile" jdbcType="NVARCHAR" property="mobile" />
    <result column="tc" jdbcType="NVARCHAR" property="tc" />
    <result column="ah" jdbcType="NVARCHAR" property="ah" />
    <result column="alt" jdbcType="INTEGER" property="alt" />
    <result column="datealt" jdbcType="TIMESTAMP" property="datealt" />
    <result column="date7" jdbcType="TIMESTAMP" property="date7" />
    <result column="fax" jdbcType="NVARCHAR" property="fax" />
    <result column="email" jdbcType="NVARCHAR" property="email" />
    <result column="address" jdbcType="NVARCHAR" property="address" />
    <result column="num1" jdbcType="INTEGER" property="num1" />
    <result column="mac" jdbcType="NVARCHAR" property="mac" />
    <result column="jjgz" jdbcType="INTEGER" property="jjgz" />
    <result column="time_login" jdbcType="TIMESTAMP" property="timeLogin" />
    <result column="on_line" jdbcType="INTEGER" property="onLine" />
    <result column="num_1" jdbcType="INTEGER" property="num1" />
    <result column="num_2" jdbcType="INTEGER" property="num2" />
    <result column="num_3" jdbcType="INTEGER" property="num3" />
    <result column="num_4" jdbcType="INTEGER" property="num4" />
    <result column="num_5" jdbcType="INTEGER" property="num5" />
    <result column="num_6" jdbcType="INTEGER" property="num6" />
    <result column="num_7" jdbcType="INTEGER" property="num7" />
    <result column="addcate" jdbcType="INTEGER" property="addcate" />
    <result column="tj1" jdbcType="INTEGER" property="tj1" />
    <result column="tj2" jdbcType="INTEGER" property="tj2" />
    <result column="tj3" jdbcType="INTEGER" property="tj3" />
    <result column="tj4" jdbcType="INTEGER" property="tj4" />
    <result column="num_ly" jdbcType="INTEGER" property="numLy" />
    <result column="Serial" jdbcType="NVARCHAR" property="serial" />
    <result column="qbtc" jdbcType="INTEGER" property="qbtc" />
    <result column="Channel" jdbcType="INTEGER" property="channel" />
    <result column="num_code" jdbcType="NVARCHAR" property="numCode" />
    <result column="num2" jdbcType="INTEGER" property="num2" />
    <result column="num3" jdbcType="INTEGER" property="num3" />
    <result column="callModel" jdbcType="INTEGER" property="callmodel" />
    <result column="callPreNum" jdbcType="NVARCHAR" property="callprenum" />
    <result column="job" jdbcType="INTEGER" property="job" />
    <result column="num_week" jdbcType="INTEGER" property="numWeek" />
    <result column="num_month" jdbcType="INTEGER" property="numMonth" />
    <result column="num_year" jdbcType="INTEGER" property="numYear" />
    <result column="num1_xm" jdbcType="INTEGER" property="num1Xm" />
    <result column="num2_xm" jdbcType="INTEGER" property="num2Xm" />
    <result column="num3_xm" jdbcType="INTEGER" property="num3Xm" />
    <result column="mobile_kq" jdbcType="INTEGER" property="mobileKq" />
    <result column="jmgou" jdbcType="INTEGER" property="jmgou" />
    <result column="salaryClass" jdbcType="INTEGER" property="salaryclass" />
    <result column="num_gj_1" jdbcType="DECIMAL" property="numGj1" />
    <result column="num_gj_2" jdbcType="DECIMAL" property="numGj2" />
    <result column="GPS_Open" jdbcType="INTEGER" property="gpsOpen" />
    <result column="workPosition" jdbcType="INTEGER" property="workposition" />
    <result column="isMobileLoginOn" jdbcType="INTEGER" property="ismobileloginon" />
    <result column="orgsid" jdbcType="INTEGER" property="orgsid" />
    <result column="partadmin" jdbcType="INTEGER" property="partadmin" />
    <result column="pricesorce" jdbcType="INTEGER" property="pricesorce" />
    <result column="import" jdbcType="INTEGER" property="import" />
    <result column="MobVisitToken" jdbcType="VARCHAR" property="mobvisittoken" />
    <result column="weixin" jdbcType="NVARCHAR" property="weixin" />
    <result column="photourl" jdbcType="VARCHAR" property="photourl" />
    <result column="intro" jdbcType="LONGNVARCHAR" property="intro" />
    <result column="sessionData" jdbcType="LONGNVARCHAR" property="sessiondata" />
  </resultMap>
    <select id="selectSlGandGcywy" resultType="java.util.Map">
            select  distinct username,sorce,del,workPosition from gate where username is not null and username !=''

    </select>
</mapper>