<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.company.project.dao.Plan1Mapper">
    <resultMap id="BaseResultMap" type="com.company.project.model.Plan1">
        <!--
          WARNING - @mbg.generated
        -->
        <result column="ord" jdbcType="INTEGER" property="ord"/>
        <result column="gate" jdbcType="INTEGER" property="gate"/>
        <result column="complete" jdbcType="NVARCHAR" property="complete"/>
        <result column="sort1" jdbcType="INTEGER" property="sort1"/>
        <result column="date1" jdbcType="TIMESTAMP" property="date1"/>
        <result column="time1" jdbcType="NVARCHAR" property="time1"/>
        <result column="time2" jdbcType="NVARCHAR" property="time2"/>
        <result column="order1" jdbcType="NVARCHAR" property="order1"/>
        <result column="sort98" jdbcType="INTEGER" property="sort98"/>
        <result column="cateid" jdbcType="INTEGER" property="cateid"/>
        <result column="cateid2" jdbcType="INTEGER" property="cateid2"/>
        <result column="cateid3" jdbcType="INTEGER" property="cateid3"/>
        <result column="company" jdbcType="INTEGER" property="company"/>
        <result column="person" jdbcType="INTEGER" property="person"/>
        <result column="option1" jdbcType="INTEGER" property="option1"/>
        <result column="chance" jdbcType="INTEGER" property="chance"/>
        <result column="lcb" jdbcType="INTEGER" property="lcb"/>
        <result column="contract" jdbcType="INTEGER" property="contract"/>
        <result column="pay" jdbcType="NVARCHAR" property="pay"/>
        <result column="date7" jdbcType="TIMESTAMP" property="date7"/>
        <result column="date4" jdbcType="TIMESTAMP" property="date4"/>
        <result column="date8" jdbcType="TIMESTAMP" property="date8"/>
        <result column="startdate1" jdbcType="TIMESTAMP" property="startdate1"/>
        <result column="starttime1" jdbcType="NVARCHAR" property="starttime1"/>
        <result column="starttime2" jdbcType="NVARCHAR" property="starttime2"/>
        <result column="isXunhuan" jdbcType="INTEGER" property="isxunhuan"/>
        <result column="alt" jdbcType="INTEGER" property="alt"/>
        <result column="address" jdbcType="VARCHAR" property="address"/>
        <result column="lng" jdbcType="DECIMAL" property="lng"/>
        <result column="lat" jdbcType="DECIMAL" property="lat"/>
        <result column="intro" jdbcType="LONGNVARCHAR" property="intro"/>
        <result column="intro2" jdbcType="LONGNVARCHAR" property="intro2"/>
        <result column="username" jdbcType="VARCHAR" property="username"/>
        <result column="others" jdbcType="NVARCHAR" property="others"/>
        <result column="tags" jdbcType="INTEGER" property="tags"/>
        <result column="selfTag" jdbcType="INTEGER" property="selfTag"/>
        <result column="companyName" jdbcType="VARCHAR" property="companyName"/>
        <result column="replyId" jdbcType="INTEGER" property="replyId"/>
        <result column="isPeitong" jdbcType="INTEGER" property="isPeitong"/>

        <collection property="dianpingList" javaType="ArrayList" ofType="com.company.project.model.Dianping">
            <id property="id" column="id"></id>
            <result column="dianping_id" property="id"/>
            <result column="dianping_intro" property="intro"/>
            <result column="dianping_name" property="name"/>
            <result column="dianping_date7" property="date7"/>
        </collection>
        <collection property="tagList" javaType="ArrayList" ofType="com.company.project.model.Tags">
            <id property="id" column="id"></id>
            <result column="tag_time" property="time"/>
            <result column="tag_id" property="id"/>
            <result column="tag_person" property="person"/>
        </collection>
    </resultMap>


    <select id="findByMyCondition" resultMap="BaseResultMap" parameterType="map">
        select
        pl.ord,
        ry.name username,
        t.name companyName,
        pl.company,
        pl.intro,
        pl.tags,
        ry.id replyId,
        (select count(*) from tags tag2 where tag2.plan1=pl.ord and tag2.person=#{username}) selfTag,
        pl.date7,
        pl.isPeitong,
        pl.others others,
        dp.id dianping_id,
        dp.intro dianping_intro,
        dp.name dianping_name,
        dp.date7 dianping_date7,
        tag.id tag_id,
        tag.time tag_time,
        tag.person tag_person
        from plan1 pl
        left join tags tag on tag.plan1=pl.ord

        left join gate g on pl.cateid=g.ord

        left join tel t on t.ord = pl.company
        left join reply ry on ry.plan1 = pl.ord
        left join dianping dp on dp.ord=ry.id

        where 1=1
        <if test="ywy != null">
            and pl.cateid=#{ywyId}
        </if>
        <if test="sorce != null">
            and g.sorce=#{sorce}
        </if>
        <if test="sorce == null">
            and g.sorce in(2,3)
        </if>
        <if test="company != null">
            and pl.company=#{company}
        </if>
        <if test="createDate1!=null">
            and pl.date7>=#{createDate1}
        </if>

        <if test="createDate2!=null">
            and pl.date7&lt;=#{createDate2}
        </if>

        <if test="keyword!=null">
            and(t.name like '%${keyword}%' or ry.name like '%${keyword}%')
        </if>
        order by pl.date7 desc,dp.date7 asc

    </select>


    <select id="statistics" resultType="java.util.HashMap">
        select
        (select count(pl.ord) from plan1 pl left join gate g on g.ord = pl.order1 where 1=1
        <if
                test="sorce!=null">and g.sorce=#{sorce}
        </if>
        <if
                test="sorce==null">and g.sorce in(2,3)
        </if>
        <if test="ywyId!=null">and pl.order1=#{ywyId}</if>
        and
        pl.date7>=#{year} ) year,
        (select count(pl.ord) from plan1 pl left join gate g on g.ord = pl.order1 where 1=1
        <if
                test="sorce!=null">and g.sorce=#{sorce}
        </if>
        <if
                test="sorce==null">and g.sorce in(2,3)
        </if>
        <if test="ywyId!=null">and pl.order1=#{ywyId}</if>
        and
        pl.date7>=#{month} ) month,
        (select count(pl.ord) from plan1 pl left join gate g on g.ord = pl.order1 where 1=1
        <if
                test="sorce!=null">and g.sorce=#{sorce}
        </if>
        <if
                test="sorce==null">and g.sorce in(2,3)
        </if>
        <if test="ywyId!=null">and pl.order1=#{ywyId}</if>
        and
        pl.date7>=#{week} ) week,
        (select count(pl.ord) from plan1 pl left join gate g on g.ord = pl.order1 where 1=1
        <if
                test="sorce!=null">and g.sorce=#{sorce}
        </if>
        <if
                test="sorce==null">and g.sorce in(2,3)
        </if>
        <if test="ywyId!=null">and pl.order1=#{ywyId}</if>
        and
        pl.date7>=#{day} ) day,
        (select count(pl.ord) from plan1 pl left join gate g on g.ord = pl.order1 where 1=1
        <if
                test="sorce!=null">and g.sorce=#{sorce}
        </if>
        <if
                test="sorce==null">and g.sorce in(2,3)
        </if>
        <if test="ywyId!=null">and pl.order1=#{ywyId}</if>
        and
        pl.date7>=#{quarter} ) quarter
    </select>


    <select id="selectDateExport" resultType="java.util.HashMap">


        select
        pl.cateid,
        ry.name ywy,
        pl.others,
        pl.date7,
        t.name companyName,
        pl.intro intro,
        g.sorce sorce,
        (select FValue from ERP_CustomValues where FieldsID=17 and OrderID=t.ord) yzjyl,
        (select FValue from ERP_CustomValues where FieldsID=16 and OrderID=t.ord) companyPersonNum,
        (select FValue from ERP_CustomValues where FieldsID=34 and OrderID=t.ord) companyGuimo,
        (select FValue from ERP_CustomValues where FieldsID=15 and OrderID=t.ord) isNew,
        (select FValue from ERP_CustomValues where FieldsID=27 and OrderID=t.ord) leixing,
        (select FValue from ERP_CustomValues where FieldsID=24 and OrderID=t.ord) wshz,

        pl.address,
        p.sex linkSex,
        p.name linkName,
        p.msn linkHobby,
        p.mobile,
        t.product shangyou,
        t.c2 xiayou,
        t.c3 qita,
        p.job linkManJob
        from plan1 pl
        left join reply ry on ry.plan1 = pl.ord
        left join tel t on t.ord=pl.company
        left join person p on p.ord=pl.person
        left join gate g on g.ord = pl.cateid
        where pl.cateid = #{id} and pl.company in (
        select  company  from plan1 pl2
        where
        pl2.cateid = #{id}
        <if test="startDate!=null">
            and pl2.date7 >= #{startDate}
        </if>
        <if test="endDate!=null">
            and pl2.date7 &lt;= #{endDate}
        </if>

        )
        <if test="closeThree!=null">
            and pl.date7 >= #{closeThree}
        </if>
        order by pl.date7 desc





    </select>


</mapper>